/* original color scheme on buttons, h1, and background */
body {
    background-color: #121212;
    font-family: 'Poppins';
    text-align: center;
}

button {
    background-color: #F1C400;
    color: #242424;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 100px;
}



/* styles for accordian group "Advanced fields" */
input[type='checkbox'] { display: none; }
.wrap-fold {
    margin: 1.2rem 0;
/*    max-width: 500px; */
}

.lbl-toggle { display: block; font-size: 1.2rem; text-transform: lowercase; text-align: center; color: #DDD; background: #555; cursor: pointer; border-radius: 7px; transition: all 0.25s ease-out;
	padding: 0.1rem;
}
.lbl-toggle:hover { color: #FFF; }
.lbl-toggle::before { content: ' '; display: inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid currentColor; vertical-align: middle; margin-right: .7rem; transform: translateY(-2px); transition: transform .2s ease-out; }

.toggle:checked+.lbl-toggle::before { transform: rotate(90deg) translateX(-3px); }
.collapsible-content { max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; }
.toggle:checked + .lbl-toggle + .collapsible-content { max-height: 350px; }
.toggle:checked+.lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.collapsible-content .content-inner { background: rgba(0, 105, 255, .2);
border-bottom: 1px solid rgba(0, 105, 255, .45); border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; padding: .5rem 1rem; }
.collapsible-content p { margin-bottom: 0; }

/* early styles for the text input fields (OVERLAPS with collapse styles possibly) */
.debug{ color: silver; }

.link-button {
    background-color: #F1C400;
    color: #242424;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    text-transform: lowercase;
    padding: 1em 1.5em;
    font-weight: 50;
}

.input-hint {
    color: gray;
    font-style: italic;
    font-weight: 50;
}

input[type=text]:focus {
    box-shadow: 0 0 6px 0 #F1C400;
}
input[type=text] {
    outline: none;
    margin: 0;
    border: 1px solid;
}


